.App {
  text-align: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.error {
  border: 1px solid red;
}
.error-message {
  color: red;
}
.active-status-filter {
  background-color: lightblue;
}
.is-done {
  opacity: 0.5;
}